#a{
	position: relative;
	background-color: red;
	width: 200px;
	height: 200px;
}
#b {
	position: absolute;
	background-color: green;
	width: 70px;
	height: 70px;
}
section.blue , #b {
	background-color: blue;
}
div.blue , #b{
	background-color: yellow;
}